*.gz
*.zip
*.data
/ml-latest
/ml-latest-small
/t10k-images-idx3-ubyte
/t10k-labels-idx1-ubyte
/train-images-idx3-ubyte
/train-labels-idx1-ubyte
/cifar-10-batches-bin
/ETL9B
*.so
/k.h
*.o
/pendigits.tes
/pendigits.tra
liblinear
libsvm
xgboost
/OnlineNewsPopularity
*.p[bgp]m
/web-BerkStan.txt
/*-citibike-tripdata.csv
/citibike
/sample-*.txt
/stop-word-list.txt
/1342.txt
/2701.txt
/10.txt
/stop.txt
/SMSSpamCollection
/141.txt
/158.txt
/161.txt
/121.txt
/winequality-*.csv
/voc.txt
/output.txt
/binary.csv
/readme
/tree.dot
/tree.png
/seeds_dataset.txt
/105.txt
/dim*.txt
/s[1-4].txt
/a[1-3].txt
/dow_jones_index.*
